Package: samm-pysammcheck
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: python3-etcd
Conflicts: 
Architecture: amd64
Homepage: https://www.samanagroup.com
Description: SAMM libraries. Samana Advanced Monitoring and Management
